@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@500&display=swap&family=Archivo+Narrow:wght@400&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    padding:0;
    margin:0;
    background-color: #031424;
}

::-webkit-scrollbar {
    background: #000000;
    max-width: 14px;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

.gutters{
    padding: 0 7%
}

.headerContainer{
    display: flex;
    width: 100%;
    max-height:768px;
    justify-content: center;
}

.headerImage{
    filter: brightness(60%);
    width:100%;
    height: 100%;
}

.headerNav{
    display: inline-flex;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1;
    justify-content: space-between;
    width: 220px; 
    flex-grow: 1;
}

.headerNav > a:hover{
    color:#FF5F58;
    font-weight: 700;
    transform: scale(1.15);
}

.navLink{
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    padding-bottom:5px;
    text-decoration: none;
    z-index: 2;
}

.headerTextContainer{
    position: absolute;
    top: 10vw;
    border: 1px solid #ffffff;
    padding: 20px 50px 20px 50px;
}

.headerText{
    text-align: center;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 6px;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.headerSubText{
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    letter-spacing: 7px;
    color: #ffffff;
    margin:0;
}

.sectionContainer{
    display: flex;
}

.sectionContainer--PinkBG{
    background-color: #FF5F58;
    margin-top:50px;
    flex-direction: column;
    padding:25px 100px;
}

.sectionHeader{
    font-family: 'Archivo Black', sans-serif;
    color: #FF5F58;
    font-size: 50px;
    letter-spacing: 20px;
    font-style: italic;
    display: flex;
    flex-shrink: 1;
}

.sectionHeader--Blue{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    letter-spacing: 20px;
    font-style: italic;
    display: flex;
    flex-shrink: 1;
    color: #031424;
    margin:0px;
    letter-spacing: 10px;
    word-break: break-word;
}

.sectionImage{
    width: 25vw;
    height:25vw;
    max-width: 330px;
    max-height:330px;
    border-radius: 50%;
    float: left;
    margin:0 25px 0 0;
}

.sectiontextContainer{
    padding-left: 50px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.8, transparent),color-stop(1, #4b4b4b));
    max-height: 396px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.showAllContent{
    max-height: none;
    background-image: none;
}

.sectionText{
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
    line-height: 32px;
    font-size: 18px;
    margin:0;
    letter-spacing: 1px;
    word-break: break-word;
}

.highlightText{
    color: #FF5F58;
}

.highlightTextBlue{
    color:#031424;
}

.sectionText--padding{
    padding: 30px;
    margin-top:0px;
}

.footer{
    height:60px;
    margin-top:100px;
    background-color: #FF5F58;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    letter-spacing: 1.5px;
    padding: 10px 55px;
}

.footerContentContainer{
    display: flex;
    height: 60px;
    width:800px;
    flex-flow: wrap;
    justify-content: space-between;
}

.footerLink{
    display: flex;
    align-self: center;
    color: #000000;
    text-decoration: none;
    height:100%;
}

.footerContentImage{
    display: flex;
    width:50px;
} 

.footerContentText{
    align-self: center;
    margin-left: 20px;
    font-weight: bold;
    word-break: break-all;
}

@media(max-width:1440px){
    .headerTextContainer{
        top:14vw;
    }
}

@media(max-width:1024px){
    .headerTextContainer{
        top:15vw;
    }
}

@media(max-width:842px){

    .sectiontextContainer{
        padding: 0;
    }

    .sectionImage{
        width: 28vw;
        height: 28vw;
    }

    .sectionHeader--Blue{
        font-size: 30px;
        letter-spacing: 6px;
    }

    .sectionContainer--PinkBG{
        padding: 20px 60px;
    }
        
}


@media (max-width: 768px){
    .headerTextContainer {
        top: 20vw;
    }

    .footerContentContainer {
        width: 100%;
    }

    .footer{
        height: 120px;
    }

    .footerLink{
        height:50%;
    }

    .footerContentContainer{
        height: 120px;
    }
}

@media(max-width:560px){
    .footer{
        padding: 10px 20px;
    }
    .headerTextContainer {
        top: 11vw;
    }
    .headerSubText{
        width:200px;
    }
}

@media(max-width:550px){
    .sectionImage{
        width: 40vw;
        height: 40vw;
    }

    .headerTextContainer {
        top: 13vw;
    }
    
    .sectionText--padding {
        padding: 0px;
    }

    .sectionHeader{
        letter-spacing: 15px;
        font-size: 40px;
        font-style: normal;
    }
}

@media(max-width:500px){
    
    .headerTextContainer{
        top:25vw;
    }

    .sectionContainer--PinkBG {
        padding: 20px;
    }
}

@media(max-width:425px){

    .footer{
        font-size: 22px;
    }
    .footerContentImage{
        width: 60px;
    }

    .sectionImage{
        width: 44vw;
        height: 44vw;
    }

    .sectionHeader{
        letter-spacing: 10px;
    }


    .sectionHeader--Blue {
        font-size: 29px;
        letter-spacing: 3px;
    }

}

@media(max-width:375px){
    .headerTextContainer{
        padding: 20px 30px 20px 30px;
    }

    .sectionHeader{
        letter-spacing: 10px;
    }
}

@media(max-width:360px){
        .sectionHeader{
        letter-spacing: 4px;
    }
}


@media(max-width:325px){
    .sectionImage{
        width: 44vw;
        height: 44vw;
    }

    .headerTextContainer{
        top:23vw;
    }

    .headerSubText{
        font-size: 16px;
    }
}
