@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@500&display=swap&family=Archivo+Narrow:wght@400&display=swap');
.timeLineSection{
    width:100%;
    display: flex;
    
}

.timeLineBlock{
    width:100%;
    display:flex;
    font-family: 'Archivo', sans-serif;
}

.timelineSection{
    padding: 3em 2em 2em;
    color: white;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 2px;
    position: relative;
    border-left: 2px solid grey;
}

/*Date Styling*/
.timelineSection::before {
    content: attr(attr-employmentdate);
    position: absolute;
    left: 1.75em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    border-bottom: 2px solid #FF5F58;
}

/*Dot styling*/
.timelineSection::after {
    width: 20px;
    height: 20px;
    display: block;
    top: 1em;
    position: absolute;
    left: -12px;
    border-radius: 50%;
    content: '';
    border: 2px solid #031424;
    background: #FF5F58;
}

/*Fade out last item*/
.timelineSection:last-child {
    border-image: linear-gradient(
        to bottom,
        grey,
        rgba(grey, 0)) 1 100%
    ;
}

.timelineSection-InnerContent{
    padding-left: 20px;
}

.timelineSection-Title{
    margin-top: 0;
    color: #FF5F58;
    font-size: 20px;
    font-weight: 400;
}

.timelineSection-Description{
    font-size: 16px;
    padding-left: 25px;
}
