@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@500&display=swap&family=Archivo+Narrow:wght@400&display=swap');
.timeLineSection{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.timelineCard{
    width:40%;
    background-color: #FF5F58;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.timeLineHeader{
    background-color: #031424;
    width:85%;
    text-align: center;
    padding:20px 0px 20px 0px;
    font-family: 'Archivo', sans-serif;
    color: #FF5F58;
    letter-spacing: 4px;
    margin: 0;
}
.timeLineCardtext{
    width: 85%;
}

.timeLineDivider{
    width:5px;
    background-color: #FF5F58;
}